<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<style type="text/css">
<!--
.f2b {
	font-weight: bold;
	color: #006699;
}
-->
</style>
<title>吾校网用户激活邮件</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<p>尊敬的 <span class="f2b">[name]</span></p>
<p>您好!这是注册过程的确认邮件。你的注册邮箱是 <span class="f2b">[loginname]</span> ,密码是
<span class="f2b">[pwd]</span>.请牢记它们!</p>
<p>请点击 <a href="[url]"><span class="f2b">链接</span></a>
或者拷贝地址[url]到浏览器的地址栏来完成注册.</p>
<img src="cid:logoimg" />
<p>欢迎登陆吾校网<a href="#"><span class="f2b">主页</span></a></p>
</body>
</html>
