{include file=pageheader.htm}
<div class="main-div">
<form action="admin_ads.php?act=submit" method="post" name="theForm"  enctype="multipart/form-data">
<input name="why" type="hidden" value=""  id=""/>
  <table width="100%" id="general-table">
  
    <tr  id="selectparent" >
      <td  class="label">位置</td>
      <td>
        <select name="data[position]" id="position"  >
                {foreach from=$adspos item=item key=index}
                <option value="{$index}" {if $data.position eq $key}selected {/if}>{$item.text}</option>
                {/foreach}
      </select>
      </td>
    </tr>
     <tr  id="selectparent" >
      <td  class="label">类型</td>
      <td>
        <select name="data[businesstype]" id="businesstype"  onchange="javascript:afterselect(this);">
                {foreach from=$adstype item=item key=index}
                <option value="{$index}" {if $data.businesstype eq $key}selected {/if}>{$item}</option>
                {/foreach}
      </select>
      </td>
    </tr>
    <tr>
      <td  class="label">广告对象</td>
      <td>
        <input name="objname" type="text" id="objname" size="22" value='{$data.objname}'  class="txtsearch " readonly onclick="javascript:openwindow('1','objname','businessid');"/>
        <input name="data[businessid]" type="hidden" id="businessid" size="22" value='{$data.businessid}'  />
      </td>
    </tr>
    
      <tr>
      <td  class="label">广告图片</td>
      <td>
        <input name="adspic" type="file" id="adspic"  class="txt200" /><span class="require-field">*</span>
          {if $data.realname}
         <div><img src="./uploadfiles/adver/{$data.realname}" border="0" height="{$adspos[$data.position].height}" width="{$adspos[$data.position].width}" />
        </div>
        {/if}
      </td>
    </tr>
    
    
     <tr>
      <td  class="label">图片URL</td>
      <td>
        <input name="data[linkid]" type="text" id="linkid" size="22" value='{$data.linkid}'  /><span class="require-field">*</span>
      </td>
    </tr>
    
     <tr>
      <td  class="label">开始时间</td>
      <td>
    
        <input name="data[starttime]" type="text" id="starttime" size="22" value='{$data.starttime|date_format:"%Y-%m-%d"}'  class="Wdate"  onClick="WdatePicker();"/><span class="require-field">*</span>
      </td>
    </tr>
    
     <tr>
      <td  class="label">有效时间(天)</td>
      <td>
        <input name="data[validtime]" type="text" id="validtime" size="22" value='{$data.validtime}'  /><span class="require-field">*</span>
      </td>
    </tr>
    
    <tr>
        <td class="label">描述</td>
        <td><textarea name="data[advertdesc]" cols="50" rows="5">{$data.advertdesc}</textarea></td>
      </tr>
      
    
    <tr>
       <td class="label">&nbsp;</td>
       <td>
       <input name="id" type="hidden" value="{$data.ID}"  id="id"/>
       <input type="button" value="返回" class="button" onclick="location='admin_ads.php'"/>
        <input type="button" value=" 确定 " class="button" onclick="javascript:checksubmit();"/>
        <input type="reset" value=" 重置 " class="button" />
       
      </td>
      
    </tr>

    
 </table>
 
{include file=warning.tpl}
</form>
</div>
<script src="./templates/scripts/backstage/ads.js" type="text/javascript"></script>
<script src="./templates/scripts/selector.js" type="text/javascript"></script>

{include file=pagefooter.htm}