{include file=pageheader.htm}
<div class="main-div">
<form action="admin_module.php?act=submit" method="post" name="theForm"  ">
<input name="why" type="hidden" value=""  id=""/>
  <table width="100%" id="general-table">
    <tr>
      <td  class="label">模块名称</td>
      <td>
        <input name="data[modulename]" type="text" id="modulename" size="22" value='{$data.modulename}'  /><span class="require-field">*</span>
      </td>
    </tr>

      <tbody >
    <tr>
      <td  class="label">模块链接</td>
      <td>
        <input name="data[moduleurl]" type="text" id="moduleurl" size="22" value='{$data.moduleurl}'  /><span class="require-field">*</span>
      </td>
    </tr>
    
     <tr>
      <td  class="label">适用用户类型</td>
      <td>
        <input name="data[usertype]" type="radio" value="0" {if $data.usertype eq '0' ||  $data.usertype eq ''}checked {/if} />网站管理员<input name="data[usertype]" type="radio" value="1"  {if $data.usertype eq 1 }checked {/if}/>店主
      </td>
    </tr>
    
     <tr >
      <td  class="label">模块类型</td>
      <td>
       <input name="data[nodetype]" type="radio" value="1" id='nodetypechild'  {if $data.nodetype eq '1' || $data.nodetype eq ''}checked{/if}  onclick="javascript:hidparentlist();"/> 子节点<input name="data[nodetype]" type="radio" value="0"  {if $data.nodetype eq '0' }checked {/if}onclick="javascript:hidparentlist();"/>首节点
      </td>
    </tr>
    
     <tr {if $data.nodetype eq '1' || $data.nodetype eq '' }{else}style="display:none;" {/if}id='upnode'>
      <td  class="label">上级节点</td>
      <td>
         <select name="data[parentid]" id="data[parentid]" >
                 {foreach from=$parentlist item=item key=index}
                <option value="{$item.ID}" {if $data.parentid eq $item.ID}selected {/if}>{$item.modulename}</option>
                {/foreach}
              </select>
      </td>
    </tr>
    <tr>
        <td class="label">模块说明：</td>
        <td><textarea name="data[moduleins]" cols="50" rows="5">{$data.moduleins}</textarea></td>
      </tr>
      
    
    <tr>
       <td class="label">&nbsp;</td>
       <td>
       <input name="mid" type="hidden" value="{$data.ID}"  id="mid"/>
        <input type="button" value=" 确定 " class="button" onclick="javascript:checksubmit();"/>
        <input type="reset" value=" 重置 " class="button" />
       
      </td>
      
    </tr>
    </tbody>
    
 </table>
 
{include file=warning.tpl}
</form>
</div>
<script src="./templates/scripts/backstage/module.js" type="text/javascript"></script>
{include file=pagefooter.htm}