{include file=pageheader.htm}
<div class="main-div">
<form id="theForm" action="shopadmin_shop.php?act=submit" method="post" name="theForm" enctype="multipart/form-data">

  <table width="10%" id="general-table"  border = '0'  class="ttbb2" cellspacing="0" cellpadding="0">
     <tr>
      <td  class="tdclass" width="10%">店铺名称</td>
      <td width="15%" colspan="3">
      <input name="data[shopname]" type="text" id="shopname" size="22" value='{$data.shopname}'  /><span class="require-field">*</span>
      </td>
    </tr>
     <tr>
       <td  class="tdclass" width="10%">店铺类别</td>
      <td width="15%" >
        <select name="data[bigtypeid]" id="bigtypeid"  onchange="javascript:getSmallType(this)"  >
                <option value="" >请选择</option>
                {foreach from=$shopcata item=item key=index}
                <option value="{$item.ID}" {if $data.bigtypeid eq $item.ID }selected {/if}>{$item.name}</option>
                {/foreach}
      </select>
        <select name="data[smalltypeid]" id="smalltypeid"    >
                <option value="" >请选择</option>
                {foreach from=$shopcata2 item=item key=index}
                <option value="{$item.ID}" {if $data.smalltypeid eq $item.ID }selected {/if}>{$item.name}</option>
                {/foreach}
      </select>
      <span class="require-field">*</span>
      </td>
     
       <td  class="tdclass" width="10%">吾校卡折扣</td>
      <td width="15%" colspan="2">
          <input name="data[schooldiscount]" type="text" id="telephone" size="22" value='{$data.schooldiscount}'  />
      </td>
    </tr>
    
    
    
   
    
   
    
     <tr>
      <td  class="tdclass">营业执照</td>
      <td>
       <input name="shoplicence" type="file" id="shoplicence"  class="txt200" value="{$data.busilicence}"/><span class="require-field">*</span>
       <input name="shoplicence1" type="hidden" id="shoplicence1"  class="txt200" value="{$data.busilicence}"/>
      </td>
        <td  class="tdclass" width="10%">公交线路</td>
      <td width="15%" colspan="2">
          <input name="data[busline]" type="text" id="telephone" size="22" value='{$data.busline}'  />
      </td>
    </tr>
    
      <tr>
      <td  class="tdclass"></td>
      <td colspan="3">
     
   {if $data.busilicence neq ""} <a href="shopadmin_shop.php?act=download&id={$data.ID}">  {$data.busilicence }</a>  {/if}
      </td>
    </tr>
     <tr>
    
       <td  class="tdclass" width="10%">国家</td>
      <td width="15%">
        <select name="data[idm_city1]" id="idm_city0"  onchange="javascript:ajaxselect(this)"  >
                <option value="" >请选择</option>
                {foreach from=$countrylist item=item key=index}
                <option value="{$item.ID}" {if $data.idm_city1 eq $item.ID }selected {/if}>{$item.name}</option>
                {/foreach}
      </select>
      </td>
       <td  class="tdclass" width="10%">省/直辖市</td>
      <td width="15%">
         <select name="data[idm_city2]" id="idm_city1"  onchange="javascript:ajaxselect(this)"  >
                <option value="" >请选择</option>
                {foreach from=$provincelist item=item key=index}
                <option value="{$item.ID}" {if $data.idm_city2 eq $item.ID }selected {/if}>{$item.name}</option>
                {/foreach}
      </select> 
      </td>
     
    </tr>
    
     <tr>
    
       <td  class="tdclass" width="10%">市</td>
      <td width="15%">
        <select name="data[idm_city3]" id="idm_city2"  onchange="javascript:ajaxselect(this)"  >
                <option value="" >请选择</option>
                {foreach from=$citylist item=item key=index}
                <option value="{$item.ID}" {if $data.idm_city3 eq $item.ID }selected {/if}>{$item.name}</option>
                {/foreach}
      </select>
      </td>
       <td  class="tdclass" width="10%">区/县</td>
      <td width="15%">
         <select name="data[idm_city4]" id="idm_city3"  onchange="javascript:ajaxselect(this)"  >
                <option value="" >请选择</option>
                {foreach from=$skirtlist item=item key=index}
                <option value="{$item.ID}" {if $data.idm_city4 eq $item.ID }selected {/if}>{$item.name}</option>
                {/foreach}
      </select>
      </td>
     
    </tr>
    
    
     <tr>
      <td  class="tdclass">店铺照片</td>
      <td>
       <input name="shopphoto" type="file" id="shopphoto"  class="txt200" />
      </td>
       <td  class="tdclass">地图</td>
      <td>
       <input name="shopmap" type="file" id="shopmap"  class="txt200" />
      </td>
    </tr>
      
      <tr>
      <td  class="label"></td>
      <td width="15%" >
    {if $data.shoppicture neq ""}  <img src="./uploadfiles/shop/{$data.shoppicture}" border="0" height="200" width="300"  /> {/if}
      </td>
      <td  class="label"></td>
       <td width="15%" >
     {if $data.mapurl neq ""}  <img src="./uploadfiles/shop/{$data.mapurl}" border="0" height="200" width="300"  />{/if}
      </td>
    </tr>
    
  <tr>
    
       <td  class="tdclass" width="10%">电话</td>
      <td width="15%">
       <input name="data[telephone]" type="text" id="telephone" size="22" value='{$data.telephone}'  />
      </td>
       <td  class="tdclass" width="10%">地址</td>
      <td width="15%">
           <input name="data[address]" type="text" id="address" size="22" value='{$data.address}'  />
      </td>
     
    </tr>
     
   
    
    
    
    
   
    
      

    
      

      

      

    
    <tr>
       <td class="label">&nbsp;</td>
       <td colspan="3">
         <input type="hidden" value="{$data.ID}" id="id" name="id"/>
        <input type="button" value=" 返回 " class="button"  onclick="javascript:history.go(-1);"/>
     
        <input type="button" value=" 确定 " class="button"   onclick = "javascript:checkForm();"/>
       
       
      </td>
      
    </tr>

    
 </table>
 {include file=warning.tpl}
 </form>


</div>
<script src="./templates/scripts/backstage/school.js" type="text/javascript"></script>
<script src="./templates/scripts/backstage/myshop.js" type="text/javascript"></script>
{include file=pagefooter.htm}