{include file=pageheader.htm}

<form enctype="multipart/form-data" action="admin_shop.php?act=list" method="post" id="haha" name="haha">


<table width="100%" border="0" cellspacing="0" cellpadding="0">

     <tr  id="person" > 
      <td width="7%" align="left"><strong>商家名称</strong></td>
    <td width="15%" align="left"><input name="query[businame]" type="text" id="businame"  class="txt200"  value="{$query.businame}"/></td>
     
     
         <td width="7%" align="left"><strong>店铺名称</strong></td>
    <td width="15%" align="left"><input name="query[shopname]" type="text" id="shopname"  class="txt200"  value="{$query.shopname}"/></td>
    
        <td width="7%" align="left"><strong>联系电话</strong></td>
    <td width="15%" align="left"><input name="query[telephone]" type="text" id="telephone"  class="txt200"  value="{$query.telephone}"/></td>
    
         <td width="7%" align="left"><strong>店铺地址</strong></td>
    <td width="15%" align="left"><input name="query[address]" type="text" id="address"  class="txt200"  value="{$query.address}"/></td>
    
    <td width="7%" align="left"><strong>公交线</strong></td>
    <td width="15%" align="left"><input name="query[busline]" type="text" id="busline"  class="txt200"  value="{$query.busline}"/></td>
    
      <td  align="left" width="10%"><input type="submit"  class="button" value="查找"  /></td>
    <td align="right"></td>
     </tr>
     
     
    
     

  </table>
 {include file=warning.tpl}
</form>
<!-- start ads list -->
<div class="list-div" id="listDiv">
<table cellpadding="3" cellspacing="1">
  <tr>
    <th>商家名称</th>
    <th> 经营范围</th>
    <th>负责人</th>
    <th>联系电话</th>
    <th>门店地址</th>
    <th>商家营业执照</th>
    
   
    <th >店铺名称</th>
    <th > 店铺图片</th>
     <th > 店铺营业执照</th>
      <th  >电话</th>
       <th >地址</th>
    <th  >地图</th>
    <th  >公交线路</th>

       <th>审核状态</th>
   

   
   	
    <th>操作</th>
  </tr>
  {if $list|@count eq 0}
      <tr><td class="no-records" colspan="15">系统还没有任何店铺</td></tr>
  {else}
 {foreach from=$list item=item key=key}
  <tr>
   <td  align="center">{$item.businame}</td>
   <td  align="center">{$item.scope}</td>
   <td  align="center">{$item.chargeperson}</td>
    <td  align="center">{$item.contactphone}</td>
     <td  align="center">{$item.storeaddr}</td>
     <td  align="center" >{if $item.userlicence  neq ''}<img src="./templates/images/backstage/yes.gif" border="0" height="16" width="16"  />{/if}</td>
     
    
     <td  align="center">{$item.shopname}</td>
    <td  align="center" >{if $item.shoppicture  neq ''}<img src="./templates/images/backstage/yes.gif" border="0" height="16" width="16"  />{/if}</td>
      <td  align="center" >{if $item.busilicence  neq ''}<img src="./templates/images/backstage/yes.gif" border="0" height="16" width="16"  />{/if}</td>
     
     <td  align="center">{$item.telephone}</td>
     <td  align="center">{$item.address}</td>
      <td  align="center" >{if $item.mapurl  neq ''}<img src="./templates/images/backstage/yes.gif" border="0" height="16" width="16"  />{/if}</td>
     <td  align="center">{$item.busline}</td>
    
        <td  align="center">{$auditstatus[$item.verifystate]}</td>

    
    <td  align="center">
     
   
     <a href="shopadmin_shopcomment.php?act=ini&id={$item.ID}&f=A">查看评论</a>
      | <a href="admin_shop.php?act=audit&id={$item.ID}">审核</a>

    </td>
   
         
  </tr>
  {/foreach}
  {/if}
      
      
      
      
      
    <tr>
    <td align="right"  colspan="15">      
     
     
<div class="num">
<DIV class="num_pg">

<script type="text/javascript">
    var pg1 = new showPages('pg1');
	pg1.pageCount = '{$pagecount}';
	pg1.argName = 'p';
	pg1.printHtml();
</script>
</DIV>
</div>
      
      
</td>
  </tr>
</table>

</div>
<!-- end ad_position list -->
<script src="./templates/scripts/backstage/business.js" type="text/javascript"></script>

{include file=pagefooter.htm}


