{include file=pageheader.htm}

<form enctype="multipart/form-data" action="admin_spacephoto.php?act=list" method="post" id="haha" name="haha">


<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
  
    <td width="10%" align="left"><strong>相册名称</strong></td>
    <td width="15%" align="left"><input name="query[albumname]" type="text" id="albumname"  class="txt200"  value="{$query.albumname}"/></td>
    
      <td width="10%" align="left"><strong>创建者</strong></td>
    <td width="15%" align="left"><input name="query[nickname]" type="text" id="nickname"  class="txt200"  value="{$query.nickname}"/></td>
    
      <td width="10%" align="left"><strong>描述</strong></td>
    <td width="15%" align="left"><input name="query[introduction]" type="text" id="keywords"  class="txt200"  value="{$query.introduction}"/></td>
    
    <td  align="left" width="10%"><input type="submit"  class="button" value="查找"  /></td>
    <td>&nbsp;</td>

  </tr>
  </table>
 {include file=warning.tpl}
</form>
<!-- start ads list -->
<div class="list-div" id="listDiv">
<table cellpadding="3" cellspacing="1">
  <tr>
    <th>相册名称</th>
    
    <th>描述</th>
   
   	<th>创建人(昵称)</th>
   
   	
    <th>操作</th>
  </tr>
  {if $list|@count eq 0}
      <tr><td class="no-records" colspan="4">系统还没有空间照片</td></tr>
  {else}
 {foreach from=$list item=item key=key}
  <tr>
    <td  align="center">{$item.albumname}</td>
    <td  align="center">{$item.introduction}</td>
   
    <td  align="center">{$item.nickname}</td>
    
   

    
    <td  align="center">
      <a href="admin_spacephoto.php?act=shield&id={$item.ID}" title="屏蔽"><img src="./templates/images/backstage/u14.gif" border="0" height="16" width="16" /></a>
        
     
    </td>
   
         
  </tr>
  {/foreach}
  {/if}
      
      
      
      
      
    <tr>
    <td align="right"  colspan="4">      
     
     
<div class="num">
<DIV class="num_pg">

<script type="text/javascript">
    var pg1 = new showPages('pg1');
	pg1.pageCount = '{$pagecount}';
	pg1.argName = 'p';
	pg1.printHtml();
</script>
</DIV>
</div>
      
      
</td>
  </tr>
</table>

</div>
<!-- end ad_position list -->


{include file=pagefooter.htm}


